## Mounting Google Drive and accessing the files

In [0]:
from google.colab import drive

#### Mount google drive. You will see the message like this. go to the URL and copy the authorization code shown

In [6]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

#### colab is the directory created under my google drive. you can list the files under this directory

In [7]:
!ls "/content/drive/My Drive/colab"

'google_colab _working_with_external_data.ipynb'

#### Below code is to get the csv from the url mentioned. It will download the csv from the url to the colab directory in drive

In [8]:
!wget https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv -P "/content/drive/My Drive/colab"

--2019-07-13 06:12:31--  https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/Titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1170 (1.1K) [text/plain]
Saving to: ‘/content/drive/My Drive/colab/Titanic.csv’

Titanic.csv         100%[===================>]   1.14K  --.-KB/s    in 0s

2019-07-13 06:12:31 (163 MB/s) - ‘/content/drive/My Drive/colab/Titanic.csv’ saved [1170/1170]

#### Now the Titanic.csv is in my colab directory, you can read it using pandas as below

In [9]:
import pandas as pd
titanic = pd.read_csv("/content/drive/My Drive/colab/Titanic.csv")
titanic.head(5)

   Unnamed: 0 Class     Sex    Age Survived  Freq
0           1   1st    Male  Child       No     0
1           2   2nd    Male  Child       No     0
2           3   3rd    Male  Child       No    35
3           4  Crew    Male  Child       No     0
4           5   1st  Female  Child       No     0

## Uploading files from your local file system

#### You need to first upload the local files from your desktop inorder for the google colab to access them. When you run the below code, it will open the dialog box and choose the files from your local system to upload.

In [13]:
from google.colab import files

uploaded = files.upload()

Saving train.csv to train.csv

In [14]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "train.csv" with length 61194 bytes

#### Once uploaded, the files would be available in content folder and you can access them using pandas as shown below

In [0]:
train = pd.read_csv("/content/train.csv")

In [16]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

## Clone github repository

#### simply copy the url and run the command as shown below. The cloned repository will be available in /content folder.

In [28]:
!git clone https://github.com/NagamaniRayudu/SPARQL.git

Cloning into 'SPARQL'...
remote: Enumerating objects: 40, done.
remote: Counting objects: 100% (40/40), done.
remote: Compressing objects: 100% (37/37), done.
remote: Total 40 (delta 9), reused 2 (delta 1), pack-reused 0
Unpacking objects: 100% (40/40), done.

In [29]:
!ls

drive  sample_data  SPARQL  train.csv